@import './tailwind.css';

body {
  @apply bg-gray-900 text-gray-100;
  margin: 0;
  padding: 0;
  font-family:
    'Inter',
    'Segoe UI',
    system-ui,
    -apple-system,
    sans-serif;
}

@layer base {
  :root {
    font-family:
      'Inter',
      'Segoe UI',
      system-ui,
      -apple-system,
      sans-serif;
  }
}
